[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hellometry"]
	path = hellometry
	url = https://github.com/pierrerogy/hellometry
